header {
    // width: 1440px;
    // height: 960px;
  width: 100vw;
  height: 95vh;
  background-color: #3f3f3f;
  overflow-y: hidden;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px 20%;

    h1 {
      font-size: 5.6rem;
      line-height: 150%;
      text-align: center;
    }

    p {
      font-size: 1.8rem;
      font-weight: medium;
      text-align: center;
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 22vh 0;

    button {
      color: white;
      font-size: 2.4rem;
      padding: 5px 10px;
      cursor: pointer;

      &#pink-button {
        background-color: #f9449b;
        border: 1px solid #f9449b;
      }

      &#black-button {
        background-color: #3f3f3f;
        border: 1px solid white;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  header {
    height: 120vh;
    .content {
      padding: 39px;
    }
    h1 {
      font-size: 2.6rem !important;
    }
    p {
      font-size: 1.2rem !important;
    }
    .buttons {
      flex-direction: column;
      gap: 17px;
      padding:44vh 0px;
      align-items: center;
      button {
        font-size: 1.4rem;
        width: 40%;
      }
    }
  }
ul{
  li{
    display: none;
  }
} 
}

