@import "Header";
@import "Nav";
@import "Aboutus";
@import "Servics";
@import "Featured-cars";
@import "Testimonial";
@import "secondlast";
@import "Footer";
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

