header {
  width: 100vw;
  height: 95vh;
  background-color: #3f3f3f;
  overflow-y: hidden;
}
header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px 20%;
}
header .content h1 {
  font-size: 5.6rem;
  line-height: 150%;
  text-align: center;
}
header .content p {
  font-size: 1.8rem;
  font-weight: medium;
  text-align: center;
}
header .buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 22vh 0;
}
header .buttons button {
  color: white;
  font-size: 2.4rem;
  padding: 5px 10px;
  cursor: pointer;
}
header .buttons button#pink-button {
  background-color: #f9449b;
  border: 1px solid #f9449b;
}
header .buttons button#black-button {
  background-color: #3f3f3f;
  border: 1px solid white;
}

@media only screen and (max-width: 600px) {
  header {
    height: 120vh;
  }
  header .content {
    padding: 39px;
  }
  header h1 {
    font-size: 2.6rem !important;
  }
  header p {
    font-size: 1.2rem !important;
  }
  header .buttons {
    flex-direction: column;
    gap: 17px;
    padding: 44vh 0px;
    align-items: center;
  }
  header .buttons button {
    font-size: 1.4rem;
    width: 40%;
  }
  ul li {
    display: none;
  }
}
nav .containor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 5.5em;
}
nav .containor .menu {
  display: none;
}
nav .containor .menu .line {
  width: 45px !important;
  height: 3px !important;
  background-color: white !important;
  margin: 8px 0 !important;
}
nav .containor a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
nav .containor ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav .containor .logo {
  height: 30px;
  width: 130px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .containor {
    padding: 2.5em 2em !important;
  }
  .containor .logo {
    margin-left: auto;
  }
  .menu {
    display: block !important;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  header nav li a {
    font-size: 1rem;
  }
  header .content h1 {
    font-size: 3.6rem;
  }
  header .content p {
    font-size: 1.2rem;
  }
  header .buttons {
    padding: 28vh 0px;
  }
  header .buttons button {
    font-size: 1.4rem;
  }
}
.section-1 {
  width: 100%;
  height: 130vh;
  background-color: #101010;
  -webkit-clip-path: polygon(71% 17%, 79% 0, 100% 0, 100% 100%, 80% 100%, 0 100%, 0% 80%, 0 17%);
          clip-path: polygon(71% 17%, 79% 0, 100% 0, 100% 100%, 80% 100%, 0 100%, 0% 80%, 0 17%);
  position: relative;
  bottom: 23vh;
  overflow-y: hidden;
}
.section-1 .about-us-heading {
  color: white;
  position: relative;
  top: 220px;
  left: 200px;
  padding-right: 67%;
}
.section-1 .about-us-heading h1 {
  font-size: 3.8rem;
  font-weight: bold;
}
.section-1 .about-us-heading p {
  font-size: 1.4rem;
}
.section-1 .about-us-container {
  display: flex;
  position: relative;
  color: white;
  padding: 0px 20rem;
  gap: 60px;
  margin-top: 120px;
}
.section-1 .about-us-container .about-us-left {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2.5rem;
  width: 50%;
  margin-top: 120px;
}
.section-1 .about-us-container .about-us-left h1 {
  font-size: 3.8rem;
}
.section-1 .about-us-container .about-us-left p {
  font-size: 1.4rem;
}
.section-1 .about-us-container button {
  color: white;
  font-size: 1.4rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f9449b;
  border: 1px solid #f9449b;
  width: 200px;
  height: 45px;
}
.section-1 .about-us-container .about-us-right {
  width: 50%;
}
.section-1 .about-us-container .about-us-right .picture-container {
  width: 450px;
  height: 520px;
  border-radius: 7px 7px;
  background-color: #3f3f3f;
}

@media only screen and (max-width: 600px) {
  .section-1 {
    -webkit-clip-path: polygon(0 100%, 0 3%, 69% 3%, 80% 0, 100% 0, 100% 22%, 100% 85%, 100% 99%, 85% 209%, 68% 100%, 62% 100%, 55% 100%);
            clip-path: polygon(0 100%, 0 3%, 69% 3%, 80% 0, 100% 0, 100% 22%, 100% 85%, 100% 99%, 85% 209%, 68% 100%, 62% 100%, 55% 100%);
    bottom: 10vh;
    height: 1300px;
    background-color: #101010 !important;
  }
  .section-1 .about-us-heading {
    text-align: center;
    left: 0;
    padding: 10px;
    top: 150px;
  }
  .section-1 .about-us-heading h1 {
    font-size: 2.8rem;
  }
  .section-1 .about-us-container {
    padding: 0px 33px;
    margin-top: 190px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-1 .about-us-left {
    width: 100% !important;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 0 !important;
  }
  .section-1 .about-us-left p {
    font-size: 1.2rem !important;
  }
  .section-1 .about-us-right {
    width: 100% !important;
  }
  .section-1 .about-us-right .picture-container {
    width: 359px !important;
    height: 400px !important;
    border-radius: 0px !important;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .about-us-heading {
    left: 42px !important;
  }
  .about-us-heading h1 {
    font-size: 2rem !important;
  }
  .about-us-heading p {
    font-size: 1rem;
  }
  .about-us-container {
    padding: 0px 4rem !important;
  }
  .about-us-container .about-us-left p {
    font-size: 1rem !important;
  }
  .about-us-container .about-us-right .picture-container {
    height: 425px !important;
    border-radius: 0px !important;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .section-1 {
    height: 115vh;
  }
  .about-us-heading {
    left: 71px !important;
  }
  .about-us-container {
    padding: 0px 7rem !important;
  }
}
@media (min-width: 1435px) {
  .section-1 {
    height: 100vh !important;
  }
}
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #3f3f3f;
  overflow-y: hidden;
  color: white;
  position: relative;
  bottom: 140px;
}
.section-2 .Services-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  padding: 50px 60px;
  gap: 20px;
}
.section-2 .Services-container .heading {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.section-2 .Services-container .heading h2 {
  font-size: 38px;
  font-weight: bold;
}
.section-2 .Services-container .heading p {
  font-size: 18px;
}
.section-2 .Services-container .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.section-2 .Services-container .services .icon {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.section-2 .Services-container .services .icon img {
  width: 42px;
  height: 40px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 35px;
}
.section-2 .Services-container .services .icon h3 {
  font-size: 18px;
}
.section-2 .Services-container .services .icon p {
  font-size: 12px;
  padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .section-2 {
    height: 1400px;
    background-color: #0f0f0f;
  }
  .section-2 .Services-container {
    width: 100%;
    padding: 90px 0px;
  }
  .section-2 .Services-container .heading {
    text-align: center !important;
    padding: 0px 35px;
  }
  .section-2 .Services-container .heading h2 {
    font-size: 28px;
  }
  .section-2 .Services-container .services {
    width: 75%;
    gap: 35px;
    margin-top: 22px;
  }
  .section-2 .Services-container .services .icon {
    width: 240px;
  }
  .section-2 .Services-container .services .icon h3 {
    font-size: 18px;
  }
  .section-2 .Services-container .services .icon p {
    font-size: 12px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .Services-container {
    padding: 9px 18px !important;
    width: 85% !important;
  }
  .Services-container .heading h2 {
    font-size: 30px !important;
  }
  .Services-container .heading p {
    font-size: 13px !important;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .section-2 {
    bottom: 163px;
  }
}
@media (min-width: 1435px) {
  .section-2 {
    bottom: 188px;
    height: 80vh;
  }
}
.section-3 {
  width: 100%;
  height: 180vh;
  background-color: #101010;
  -webkit-clip-path: polygon(0% 15%, 0 0, 19% 0, 27% 14%, 85% 14%, 100% 14%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
          clip-path: polygon(0% 15%, 0 0, 19% 0, 27% 14%, 85% 14%, 100% 14%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  position: relative;
  bottom: 295px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-cars-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.featured-cars-container .heading {
  text-align: center;
}
.featured-cars-container .heading h3 {
  font-size: 38px;
  font-weight: bold;
}
.featured-cars-container .heading p {
  font-size: 18px;
}
.featured-cars-container .First-container, .featured-cars-container .second-container {
  display: flex;
  gap: 30px;
}
.featured-cars-container .First-container .car-container, .featured-cars-container .second-container .car-container {
  position: relative;
  width: 350px;
  height: 300px;
  border: 1px solid white;
}
.featured-cars-container .First-container .car-container img, .featured-cars-container .second-container .car-container img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-cars-container .First-container .car-container .content, .featured-cars-container .second-container .car-container .content {
  padding: 10px;
}
.featured-cars-container .First-container .car-container .content h3, .featured-cars-container .second-container .car-container .content h3 {
  font-size: 20px;
}
.featured-cars-container .First-container .car-container .content p, .featured-cars-container .second-container .car-container .content p {
  font-size: 10px;
}
.featured-cars-container .First-container .car-container .content button, .featured-cars-container .second-container .car-container .content button {
  font-size: 14px;
  background-color: #f9449b;
  color: white;
  width: 50%;
}
.featured-cars-container .First-container .car-container .content .details, .featured-cars-container .second-container .car-container .content .details {
  display: flex;
  justify-content: space-between;
}
.featured-cars-container .First-container .car-container .content h4, .featured-cars-container .second-container .car-container .content h4 {
  font-size: 20px;
}
.final-button {
  color: white;
  font-size: 2rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #101010;
  border: 1px solid white;
}

@media only screen and (max-width: 600px) {
  .section-3 {
    height: 1370px;
    -webkit-clip-path: polygon(0% 15%, 0 0, 19% 0, 25% 2%, 85% 2%, 100% 2%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
            clip-path: polygon(0% 15%, 0 0, 19% 0, 25% 2%, 85% 2%, 100% 2%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    bottom: 170px;
    overflow-y: hidden !important;
    background-color: #101010;
  }
  .section-3 .featured-cars-container h3 {
    font-size: 26px;
  }
  .section-3 .featured-cars-container p {
    font-size: 13px;
  }
  .First-container, .featured-cars-container .second-container {
    flex-direction: column;
    overflow-y: hidden !important;
  }
  .First-container .car-container, .featured-cars-container .second-container .car-container {
    width: 280px !important;
  }
  .second-container {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .featured-cars-container {
    gap: 15px;
    margin-top: 137px;
  }
  .featured-cars-container .heading h3 {
    font-size: 30px;
  }
  .featured-cars-container .heading P {
    font-size: 14px;
  }
  .featured-cars-container .First-container, .featured-cars-container .second-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .featured-cars-container .second-container {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .section-3 {
    bottom: 345px !important;
  }
  .section-3 .car-container {
    width: 280px !important;
  }
}
@media (min-width: 1435px) {
  .section-3 {
    bottom: 394px;
    height: 137vh;
  }
}
.section-4 {
  width: 100vw;
  height: 140vh;
  background-color: #3f3f3f;
  position: relative;
  bottom: 295px;
  overflow-y: hidden;
}
.section-4 .testimonial {
  padding: 75px;
}
.section-4 .testimonial .heading {
  color: white;
}
.section-4 .testimonial .heading h1 {
  font-size: 38px;
  font-weight: bold;
}
.section-4 .testimonial .heading p {
  font-size: 18px;
}
.section-4 .testimonial .container {
  display: flex;
  padding: 25px 50px;
}
.section-4 .testimonial .container .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-4 .testimonial .container .right .right-container {
  width: 400px;
  height: 150px;
  border: 1px solid white;
  display: flex;
  padding: 20px;
}
.section-4 .testimonial .container .right .right-container .person {
  width: 30%;
}
.section-4 .testimonial .container .right .right-container .person img {
  width: 91px;
  height: 91px;
  border: none;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-4 .testimonial .container .right .right-container .person p {
  font-size: 24px;
  font-weight: bold;
}
.section-4 .testimonial .container .right .right-container .rivew {
  width: 70%;
}
.section-4 .testimonial .container .right .right-container .rivew .stars i {
  padding-top: 21px;
  font-size: 20px;
}
.section-4 .testimonial .container .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 7%;
}
.section-4 .testimonial .container .left img {
  width: 50px;
  height: 180px;
}

@media only screen and (max-width: 600px) {
  .section-4 {
    height: 1500px;
    bottom: 171px;
  }
  .section-4 .testimonial {
    padding: 0;
  }
  .section-4 .testimonial .heading {
    text-align: center;
    padding: 80px 0px;
  }
  .section-4 .testimonial .heading h1 {
    font-size: 2.8rem;
  }
  .section-4 .testimonial .heading p {
    font-size: 1.4rem;
  }
  .section-4 .testimonial .container {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .section-4 .testimonial .container .left {
    display: none;
  }
  .section-4 .testimonial .container .right {
    gap: 30px;
  }
  .section-4 .testimonial .container .right #First-container {
    margin-top: 75px;
  }
  .section-4 .testimonial .container .right .right-container {
    width: 230px;
    height: 280px;
    border: 1px solid white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
  .section-4 .testimonial .container .right .right-container .person {
    width: 100%;
    overflow-y: hidden;
  }
  .section-4 .testimonial .container .right .right-container .rivew {
    width: 100%;
    overflow-y: hidden;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .section-4 .testimonial {
    padding: 15px;
  }
  .section-4 .testimonial .heading {
    text-align: center;
  }
  .section-4 .testimonial .container {
    justify-content: center;
  }
  .section-4 .testimonial .container .left {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .section-4 {
    bottom: 347px;
  }
}
@media (min-width: 1435px) {
  .section-4 {
    bottom: 395px;
    height: 100vh;
  }
  .section-4 .right-container .rivew p {
    font-size: 19px;
  }
}
.section-5 {
  width: 100%;
  height: 70vh;
  background-color: #292929;
  position: relative;
  bottom: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.section-5 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
  padding: 0px 30rem;
}
.section-5 .content h1 {
  font-size: 48px;
  font-weight: bold;
}
.section-5 .content p {
  font-size: 18px;
}
.section-5 .content button {
  background-color: #f5469b;
  color: white;
  height: 60px;
  width: 300px;
  font-size: 18px;
  border: none;
}

@media only screen and (max-width: 600px) {
  .section-5 {
    height: 550px;
  }
  .section-5 .content {
    padding: 0px;
  }
  .section-5 .content h1 {
    font-size: 38px;
  }
  .section-5 .content P {
    font-size: 15px;
    padding: 0px 50px;
  }
  .section-5 .content button {
    height: 50px;
    width: 260px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .section-5 .content {
    padding: 0px 5rem;
  }
  .section-5 .content h1 {
    font-size: 35px;
  }
  .section-5 .content p {
    font-size: 16px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .section-5 {
    bottom: 348px;
  }
}
@media (min-width: 1435px) {
  .section-5 {
    bottom: 395px;
  }
}
footer {
  width: 100%;
  height: 122.5vh;
  background-color: #101010;
  position: relative;
  margin-top: -300px;
  color: white;
}
footer .footer-first-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 70px;
}
footer .footer-first-container .logo img {
  width: 150px;
  height: 40px;
}
footer .footer-first-container .icons {
  display: flex;
  gap: 25px;
}
footer .footer-first-container .icons i {
  font-size: 28px;
}
footer .The-containers {
  display: flex;
  gap: 45px;
  padding: 10px 40px;
  gap: 30px;
}
footer .The-containers .footer-second-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}
footer .The-containers .footer-second-container .information p {
  font-size: 18px;
  padding-right: 80px;
}
footer .The-containers .footer-second-container .contact-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .The-containers .footer-second-container .contact-information .title {
  font-size: 28px;
  font-weight: bold;
}
footer .The-containers .footer-second-container .contact-information .phone, footer .The-containers .footer-second-container .contact-information .address, footer .The-containers .footer-second-container .contact-information .email {
  display: flex;
  gap: 20px;
}
footer .The-containers .footer-second-container .contact-information .phone i, footer .The-containers .footer-second-container .contact-information .address i, footer .The-containers .footer-second-container .contact-information .email i {
  font-size: 16px;
}
footer .The-containers .footer-second-container .contact-information .phone p, footer .The-containers .footer-second-container .contact-information .address p, footer .The-containers .footer-second-container .contact-information .email p {
  font-size: 16px;
}
footer .The-containers .footer-third-container, footer .The-containers .footer-fifth-container, footer .The-containers .footer-fourth-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 20%;
  margin-top: 60px;
}
footer .The-containers .footer-third-container .title, footer .The-containers .footer-fifth-container .title, footer .The-containers .footer-fourth-container .title {
  font-size: 28px;
  font-weight: bold;
}
footer .The-containers .footer-third-container p, footer .The-containers .footer-fifth-container p, footer .The-containers .footer-fourth-container p {
  font-size: 20px;
}
footer .statment {
  text-align: center;
  margin-top: 80px;
}
footer .statment p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 400vh !important;
  }
  footer .footer-first-container {
    padding: 50px 70px;
    flex-direction: column;
    gap: 30px;
  }
  footer .footer-first-container .icons {
    gap: 45px !important;
  }
  footer .footer-second-container {
    width: 100%;
    text-align: center;
  }
  footer .footer-second-container .information p {
    padding-right: 0px !important;
  }
  footer .footer-second-container .contact-information {
    align-items: center;
  }
  footer .The-containers {
    flex-direction: column !important;
    text-align: center;
  }
  footer .The-containers .footer-second-container {
    width: 100% !important;
  }
  footer .The-containers .footer-third-container, footer .The-containers .footer-fourth-container, footer .The-containers .footer-fifth-container {
    width: 100% !important;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  footer {
    height: 340vh;
  }
  footer .footer-second-container {
    width: 100%;
    text-align: center;
  }
  footer .footer-second-container .information p {
    padding-right: 0px !important;
  }
  footer .footer-second-container .contact-information {
    align-items: center;
  }
  footer .The-containers {
    flex-direction: column !important;
    text-align: center;
  }
  footer .The-containers .footer-second-container {
    width: 100% !important;
  }
  footer .The-containers .footer-third-container, footer .The-containers .footer-fourth-container, footer .The-containers .footer-fifth-container {
    width: 100% !important;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  footer {
    margin-top: -350px;
  }
}
@media (min-width: 1435px) {
  footer {
    margin-top: -400px;
  }
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */